name: Deploy Flutter Web App to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.29.2

      - name: Install Dependencies
        run: flutter pub get

      - name: Create knuclFaceAnalyzer2025.env file
        run: |
          touch ./knuclFaceAnalyzer2025.env
          echo "${{ secrets.KNUCL_SECRET }}" > ./knuclFaceAnalyzer2025.env

      - name: Build Web
        run: flutter build web --release --base-href="/knucl-face-analyzer-2025_flutter/"

      - name: Add .nojekyll
        run: echo > build/web/.nojekyll

      - name: Create 404.html for path routing
        run: |
          echo '<script>' > build/web/404.html
          echo 'const redirectTo = location.pathname.replace("/knucl-face-analyzer-2025_flutter", "");' >> build/web/404.html
          echo 'location.replace("/knucl-face-analyzer-2025_flutter/index.html?redirect=" + redirectTo);' >> build/web/404.html
          echo '</script>' >> build/web/404.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.STATIC_DEPLOY_KEY }}
          publish_dir: build/web
          publish_branch: gh-pages
